# Ignore generated stuff
*.tmp
*.tmp.c
*.log
*.dep
*.ewt
/settings/

# Generated stuff from STVD
*.wed
*.wdb
/Release/STVD/
/Debug/STVD/
*.spy

# Ignore build products except for the output hex files
Obj/
List/
Exe/
^*.hex
